absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
altair==4.2.0
anaconda-navigator==2.1.1
appdirs==1.4.4
argh==0.26.2
astunparse==1.6.3
async-timeout==4.0.2
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
blinker==1.4
blis==0.7.8
boto==2.49.0
boto3==1.24.2
botocore==1.27.2
brotlipy==0.7.0
cachetools==5.0.0
catalogue==2.0.8
click==8.0.3
clyent==1.2.2
comtypes==1.1.10
conda==4.13.0
conda-build==3.21.6
conda-verify==3.4.2
cycler==0.10.0
cymem==2.0.6
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
datasets==2.2.2
dill==0.3.4
docker-pycreds==0.4.0
entrypoints==0.3
et-xmlfile==1.1.0
flatbuffers==2.0
fonttools==4.25.0
frozenlist==1.3.0
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.0
huggingface-hub==0.5.1
inexactsearch==1.0.2
inflection==0.5.1
install==1.3.5
jmespath==1.0.0
keras==2.8.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
libclang==14.0.1
llvmlite==0.37.0
locket==0.2.1
Markdown==3.3.6
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.2
multiprocess==0.70.12.2
munkres==1.1.4
murmurhash==1.0.8
mypy-extensions==0.4.3
navigator-updater==0.2.1
oauthlib==3.2.0
opt-einsum==3.3.0
pathspec==0.7.0
pathtools==0.1.2
pathy==0.6.2
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
ply==3.11
preshed==3.0.7
promise==2.3
protobuf==3.20.1
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.9.2
pydeck==0.7.1
pyls-spyder==0.4.0
Pympler==1.0.1
pyodbc===4.0.0-unsupported
pyreadline==2.1
pyspellchecker==0.6.3
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytorch-pretrained-bert==0.6.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==228
PyYAML==6.0
requests-oauthlib==1.3.1
responses==0.18.0
rsa==4.8
s3transfer==0.6.0
sacremoses==0.0.53
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.120553
semver==2.13.0
sent2vec==0.3.0
sentencepiece==0.1.96
sentry-sdk==1.5.12
seqeval==1.2.2
setproctitle==1.2.3
shortuuid==1.0.9
silpa-common==0.3
simplegeneric==0.8.1
sip==4.19.13
smmap==5.0.0
soundex==1.1.3
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
spellchecker==0.4
Sphinx==4.2.0
srsly==2.4.4
statsmodels==0.12.2
streamlit==1.9.0
tables==3.6.1
TBB==0.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-text==2.8.2
termcolor==1.1.0
terminado==0.9.4
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.1.0
tokenizers==0.12.1
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
transformers==4.19.2
typer==0.4.2
tzdata==2022.1
tzlocal==4.2
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.19.0
wandb==0.12.16
wasabi==0.10.1
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xlwings==0.24.9
xlwt==1.3.0
xxhash==3.0.0
yarl==1.7.2
zict==2.0.0
zope.event==4.5.0